.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.group {
  flex-direction: column;
  display: flex;
  line-height: 28px;
  gap: 30px;
  align-items: center;
  position: relative;
  max-width: 190px;
}

.input {
  font-family: "Montserrat", sans-serif;
  width: 280px;
  height: 45px;
  padding-left: 1rem;
  box-shadow: 0 0 0 1.5px #2b2c37, 0 0 25px -17px #000;
  border: 0;
  border-radius: 12px;
  background-color: #16171d;
  outline: none;
  color: #bdbecb;
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: text;
  z-index: 0;
}

.input::placeholder {
  color: #bdbecb;
}

.input:hover {
  box-shadow: 0 0 0 2.5px #2f303d, 0px 0px 25px -15px #000;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  box-shadow: 0 0 0 2.5px #2f303d;
}

.search-icon {
  position: absolute;
  left: 1rem;
  fill: #bdbecb;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  z-index: 1;
}

h3,
h2 {
  font-family: monospace;
}
.card {
  border: 1px solid black;
  padding: 6px;
  margin-top: 60px;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  padding: 10px;
  border: 1px solid black;
  background: transparent;
  font-weight: 600;
  cursor: pointer;
}
.login.hover {
  border: 1px solid green;
  color: green;
}

.user{
position: absolute;
bottom: 50px;
right: 50px;
}

.delete:hover {
  border: 1px solid red;
  color: red;
}
.update:hover {
  border: 1px solid blue;
  color: blue;
}
.hero-table {
  border-collapse: collapse;
  width: 100%;
}

.hero-table th,
.hero-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.hero-table thead th {
  background-color: #f2f2f2;
}
